body {
	background-color: rgb(248, 248, 248);
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
.container {
	display: flex;
	width: 608px;
	height: 254px;
	background: black;
}
.keys {
	position: absolute;
}
.white-keys {
	kbd {
		display: inline-block;
		width: 80px;
		height: 250px;
		border: 2px double;
		text-align: center;
		line-height: 380px;
		font-weight: bold;
		font-size: x-large;
		background: white;
		position: relative;
		z-index: 1;
	}
}
.black-keys {
	kbd {
		display: inline-block;
		width: 50px;
		height: 150px;
		text-align: center;
		line-height: 200px;
		font-weight: bold;
		background: black;
		color: white;
		position: relative;
		z-index: 2;
		left: 60px;
		margin-right: 34px;
		+ {
			kbd {
				+ {
					kbd {
						position: relative;
						left: 145px;
					}
				}
			}
		}
	}
}