@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');



body{
    background-color: rgb(21, 20, 20);

}


.col{
    background-color: rgb(23, 22, 22);
    margin-top: 3cm;
    padding-top: 2cm;
    padding-bottom: 2cm;
    padding-left: 2cm;
    padding-right: 2cm;
    box-shadow: 0 30px 60px rgb(3, 239, 203);
    border-radius: 10pt;
    
    
}

input[type=text],[type=username], [type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: black;
  }

  button[type=submit]{
    text-align: center;
    color: rgb(3, 239, 203);
    font-family: 'Kanit', sans-serif;
    background-color: rgb(134, 134, 135);
    margin-left: 3cm;
  }

  p{
    text-align: center;
    color: rgb(253, 253, 253);
    font-family: 'Kanit', sans-serif;
    font-size: 18pt;
  }



